body {
    background: url("assets/project_files/bg-pattern.jpg");
    width: 100%;
}

.navbar {
    background-color: #fec863;
    min-height: 50px;
    width: 100%;
}

.container-fluid {
    background-color: #fec863;
}
